<div class="layout-wrapper bg-gray-900">
    <div class="grid p-fluid">
        <div class="col-12 grid p-fluid">
            <div class="col-12 text-center">
                <p-card header="Github" class="  h-full " [style]="{backgroundColor: '#000000', height: '100%'}">
                    <a href="https://github.com/spirit2096"
                        target="_blank">
                        <span class="pi pi-github text-6xl"></span>
                    </a>
                </p-card>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 ">
            <p-card header="Reconocimiento"   [style]="{backgroundColor: '#000000', height: '100%'}">
                <img src="assets/images/reco-tec.jpeg" alt="Imagen clickeable" >
            </p-card>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <p-card header="Artículo de Investigación"   [style]="{backgroundColor: '#000000', height: '100%'}">
                <a href="https://revista-agroproductividad.org/index.php/agroproductividad/article/view/1937"
                    target="_blank">
                    <img src="assets/images/portada-ai.png" alt="Imagen clickeable" class="w-full h-full cursor-pointer">
                </a>
            </p-card>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <p-card header="Entrevista para Terranos conCiencia" class="  h-full " [style]="{backgroundColor: '#000000', height: '100%'}">
                <a href="https://www.youtube.com/watch?v=3wQfcueKy4k"
                    target="_blank">
                    <img src="assets/images/entrevista2.png" alt="Imagen clickeable" class="w-full h-full cursor-pointer">
                </a>
            </p-card>
        </div>
       
    </div>
</div>